.home-container{
    display: grid;
    margin-top: 5%;
    grid-template-columns: 50% 50%;
    /* column-gap: 5%; */
}
.image-highlight-container{
    display: inline-block;
    
}
.image-highlight{
    max-height: 50%;
    border-width: 3px;
    border-style: solid;
    border-radius: 25px;
}
.about-business-container{
    display: inline-block;
}